:root {
    font-size: 16px;
    }
body{
    background-color: #eee;
    color: #333;

    font-family: 'Montserrat', sans-serif;
}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}


    /* NavBar Start */
    .navbar{
       text-align: center;
       background-color: #fff;

       padding: 1rem 1.25rem;
       
       display: block;
    }

    a.navbar-brand{
        font-size: 1.75rem;
        font-weight: 300;
        color: #333 !important;
        text-shadow: 0px 1px 1px rgb(197, 197, 197) ;
    }

    ul.nav{
        font-size: 0.9375rem;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
    }
    .navbar-default .navbar-nav>li>a{
        color: #777;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .navbar-default .navbar-nav>li>a:hover{
        color: #333 ;
    }
    
     /* NavBar End */


    /* ThemeImages Start */

    #main-img{
        background: url('../img/room/kanchenjunga.jpg') no-repeat;
        max-height: 0px;
        min-height: 500px;
        background-size: cover;
        background-position: 50% 52%;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 82px;
    }
   
    #flexImg-item{
        color: #fff;
        font-weight: 300;
        font-size: 2.375rem;
        text-align: center;
    }
    #title-name{
        display: block;
        font-size: 3.125rem;
        font-weight: 400;

        /* text-shadow: 0px 0px 20px #ffa46d; */
    }
    #main-img > h1{
        text-shadow: 5px 0px 23px #ffa46d;
    }
    #lamahatta{
        text-shadow: 5px 0px 25px #ffa46d;
    }

    /* ThemeImages End */

      /* Area Content Start */
    
    h2{
        text-shadow: 0px 1px 1px rgb(195 196 196) ;
    }
    .area-gridContainer{
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr 1fr ; 
        grid-gap: 15px;
        padding: 20px;
      }

     .area-gridContainer > div {
        text-align: center;
      }
      #area-item, #area-item3{
          grid-column: 1/3;
      }
      span.glyphicon{
        opacity: .3;
      }
      .carousel-control{
          opacity: .6;
      }
      .carousel-control.left, .carousel-control.right {
        background-image:none !important;
        filter:none !important;
     }
     #myCarousel4 .carousel-control.left{
         margin-left: 200px;
     }
      #myCarousel4 .carousel-control.right{
        margin-right: 200px;
     }
      #houseImg-container .carousel-control{
          opacity: 1;
      }
      .carousel-control:focus, .carousel-control:hover{
        opacity: .4;
        
      }
      .carousel { overflow: hidden; }

      .item { overflow: hidden; }

      #area-item3{
        height: 560px;
      }
      #area-item{
          margin-bottom: 15px;
      }

      .area--img{
          max-width: 100%;
          height: 350px;
          object-fit: cover;
      }

      #area--map{
          width: 100%;
          height: 100%;
      }
      #area-item > h2, #room-item1 > h2{
          font-weight: 400;
          font-size: 1.875rem;
          margin-bottom: 18px;
      }
      #area-para, #room-para{
        text-align: start;
        padding: 10px;
      }
      #area-para > h4, #room-para > h4{
        font-size: 	1.375rem;
        font-weight: 500;  
        text-align: start;
      }
      #area-item3 > h4{
          padding-left: 11px;
          font-size: 1.7rem;
          font-weight: 500;  
           text-align: start;
      }


      .room-gridContainer {
        display: grid;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 15px;
        padding: 20px;
      }
      
      .room-gridContainer > div {
        text-align: center;
        padding: 20px;
      }
      
      #room-item1{
        grid-column:1/3;
      }
      #room-item5{
        grid-column:1/3;
      }
      #room-item4{
        grid-column:1/3;
      }

      .room--img{
        max-width: 100%;
        object-fit: cover;
     }
     #room-item1 > h2{
         margin-bottom: 35px;
     }
     #room-para h5{
         font-family: Arial, Helvetica, sans-serif;
         font-size: 1.25rem;
         padding: 10px 20px;
         margin-top: 16px;
         line-height: 21px;
         letter-spacing: 0.5px;
     }
     #room-para > p{
         font-size: 15px;
         line-height: 21px;
         font-weight: 400;
         letter-spacing: 0.2;
         margin-top: 22px;
     }
     #room-para > ul{
         font-size: 16px;
         padding-left: 120px;
         font-weight: 500;
     }
     #price{
        font-weight: 600;
    }
     .-button{
         display: flex;
         justify-content: center;
     }
     #room-para button{
         font-size: 16.5px;
         font-weight: 500;
         box-shadow: 0 1px 2px rgb(219, 219, 219);
     }
     #room-para button:active{
        box-shadow: 0 0 1px rgb(187, 187, 187);
        transform: translateY(2px);
     }
     #room-item1, #room-item5{
         padding: 20px 0px;
     }
     #room-item1 .carousel-inner{
         max-height: 600px;
     }
     #houseImg-container .carousel img{
        width: 100%; 
        max-width: 100%;
        object-fit: cover;
        max-height: 620px;
    }
    #roomImg-container .carousel img{
        width: 100%; 
        max-width: 100%;
        object-fit: cover;
    }
    #room-item4 .carousel img{
        max-width: 517.500px;
        max-height: 355.237px;
        object-fit: contain;
        margin: auto;
    }
    
   

    /* Area Content End */

     /* Footer Start */
    footer{
        background-color: #575656;
        padding: 1.5rem;

    }
    footer#padding-footer{
        padding-left: 0px ;
        padding-right: 0px;
        padding-bottom: 10px;
    }

    footer #flexbox{
        display: flex;
        flex-direction: row;

        justify-content: space-around;

    }
    #flexbox #flex-item{
        color: #fff;
        text-align: center;
    }
    #flex-item h3{
        font-size: 	1.5rem;
        font-weight: 500;
        margin-bottom: 1.25rem;
        margin-top: 0;
        
        white-space: nowrap;
        
    }
    #flex-item p{
        font-size: 0.9375rem;
        font-weight: 200;
    }

    #quote p{
        font-size :0.875rem;
        line-height: 22px;
        margin-bottom: 1.25rem;
    }
    #num{
        margin: 0rem;
        margin-bottom: 1.5em;
    }
    #num p, #mail p{
        margin-bottom: 5px;
    }
    #media p{
        margin-bottom: 0.95rem;
        font-size: 1.1rem;
    }
    #num a{
        text-decoration-line: none;
        color: rgb(115, 208, 224);
        text-shadow: 0px 1px 1px rgb(50, 133, 148);
    }
    #num a:hover, #num a:focus{
        color: aqua;
    }
   h3#media-h3{
       margin-bottom: 40px ;
   }
    
   div#copyright{
       text-align: center;
       color: #fff;
       font-weight: 300;
       font-size: 0.85rem;
       background-color:rgba(0, 0, 0, 0.1);
       padding: 5px;
       margin-top: 15px;
   }

     /* Footer End */


    /* Medium screen */

    @media(max-width: 768px){
        
         /* NavBar Start */
        
         a.navbar-brand{
            font-size: 1.5rem;
        }

        ul.nav{
            font-size: 0.94rem;
        }
        #flexImg-item{
            font-size: 2.125rem;
        }
        #title-name{
            font-size: 2.875rem;
        }
   
        /* NavBar End */

          /* Area Content Start */

         .area-gridContainer{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            }
            #area-item1, #area-item2{
              grid-column: 1/3;
            }
            #area-item > h2, #room-item1 > h2{
                font-size: 1.75rem;
            }
            #area-para > h4, #room-para > h4{
                font-size: 	1.25rem;
            }
            .area--img{
                height: 450px;
            }
            #area-item3{
                height: 400px;
            }

            #area-item3 > h4{
                font-size: 1.5rem;
            }

            .room-gridContainer {
                grid-template-columns: 1fr;
               grid-template-rows: auto;
           
            }
            #room-item3, #room-item2,  #room-item6, #room-item7,  #room-item8, #room-item9{
              grid-column: 1/3;
            }

            #room-para > h5{
                font-size: 1.125rem;
            }
            #myCarousel4 .carousel-control.left{
                margin-left: 0;
            }
             #myCarousel4 .carousel-control.right{
               margin-right: 0;
            }
            #room-para p{
                font-size: 14px;
                line-height: 18px;

            }
            #room-para ul{
                margin-left: 50px;
                margin-top: 20px;
                font-size: 14.5px;
            }
            #room-para h5{
                text-align: center;
                font-size: 16px;
            }
            #room-para button{
                font-size: 16px;
            }
      

    /* Area Content End */
        
         /* Footer Start */
        #flex-item{
            width: 33.3333%;

        }

        #flex-item h3{
          font-size: 1.25rem;
        }
        #flex-item p{
            font-size: 0.90rem;
        }
        #quote p{
            font-size :0.85rem;
            line-height: 18px;
        }
        div#copyright{
            font-size: 0.75rem;
        }
        /* Footer End */

    }


    /* Mobile */

     @media(max-width: 610px){

        /* NavBar Start */

        #cheekyFlex{
            display: flex;
            flex-direction: column;
        }

        .navbar{
            position: static;
            padding: 0px;
            margin-bottom: 0px;
            order: 1;
        }
        a.navbar-brand{
            font-size: 1.75rem;
        }
        .navbar-header{
            padding: 1.5rem;
        }
       

        ul.nav{
            font-size: 0.9375rem;
        }
        .navbar .container{
            padding: 0px;
        }
        .navbar-brand{
            float: none;
        }

        .navbar-header{
            margin-top: 10px;
        }
        .navbar-default .navbar-nav>li>a{
            
            padding-top: 15px;
            padding-bottom: 15px;
            border-top-style: solid;
            border-top-width: 1px;
            border-top-color: hsla(0, 0.00%, 76.86%, 1.00);

        }
          

        /* NavBar End */

        /* ThemeImages Start */

        #main-img{
            margin-top: 0px;
            margin-left: 0;
            margin-right: 0;
            min-height: 500px;
        }
        #flexImg-item{
            font-weight: 400;
            font-size: 2rem;
        }
        #title-name{
            font-size: 2.15rem;
            font-weight: 500;
        }

        /* ThemeImages End */

        /* Area Content Start */
        #area-item > h2, #room-item1 > h2{
            font-size: 1.45rem;
        }
        .area--img{
            max-width: 100%;
            height: 300px;
            object-fit: cover;
        }
        #room-item1 > h2{
            margin-bottom: 40px;
            margin-top: 0px;
        }
        /* Area Content End */

         /* Footer Start */
         #flex-item{
            align-self: center;
            width: 80%;
            border-bottom: 1px solid  #c4c4c4;
        }
        #item-flex{
            margin-bottom: 20px;
        }
        
       footer #flexbox{
        flex-direction: column;
         }
         #flex-item h3{
             font-size: 1.85em;
             margin-top: 15px;
         }
        #flex-item p{
          font-size: 1.25em;
        }
        #quote p{
            font-size: 1em;
            line-height: 22px;
        }
        h3#media-h3{
            margin-bottom: 20px;
        }
        div#copyright{
            padding: 10px;
            margin-top: 20px;
            font-size: 13px;
            
        }

       /* Footer End */

     }

     /* extra small */
     @media(max-width: 447px){

            /* Footer Start */
        #flex-item p{
            font-size: 1.125em;
          }  

          #quote p{
            font-size: 0.9375em;
            line-height: 21px;
        }
          /* Footer End */

         /* ThemeImages Start */

         #room-para p{
            
        }
        #room-para ul{
            margin-left: 0px;
            padding-left: 60px;
            margin-top: 20px;
            
        }
        #room-para h5{
            margin-top: 0;
            padding-top: 0;
        }
        #room-para button{
          
        }

        /* ThemeImages End */
    }

    /* Trivial Responsive Fixes */
    @media(max-width: 1200px) and (min-width: 995px){
        #room-para h5{
            font-size: 1.15rem;
            padding: 10px 10px;
            padding-top: 0;
            margin-top: 15px;
            padding-left: 0;
        }
        #room-para button{
            font-size: 15px;
        }
    }

    @media (max-width: 995px) and (min-width: 768px){
        #myCarousel4 .carousel-control.left{
            margin-left: 80px;
        }
         #myCarousel4 .carousel-control.right{
           margin-right: 80px;
        }
        #room-para h5{
            font-size:1.1rem;
            text-align: center;
        }
    }

    @media (max-width: 995px) and (min-width: 890px){
        .container{
            width: 900px ;
        }
    }
    @media (max-width: 891px) and (min-width: 788px){
        .container{
            width: 800px;
        }
        #room-para ul{
            padding-left: 10px;
        }
    }
    @media (max-width: 891px) and (min-width: 768px){
        #room-para ul{
            padding-left: 10px;
        }
    }

    /* Trivial Responsive Fixes END */


     /* Bootstrap NavBar Edit  */
     @media only screen and (min-width: 610px) {
        .collapse {
            display: block;
        }
    
        .navbar-header {
            float: left;
        }
    
        .navbar-toggle {
            display: none;
        }
    
        .navbar-nav.navbar-left {
           float: left;
           margin: 0;
        }
    
        .navbar-nav.navbar-right {
           float: right;
           margin: 0;
        }
        .navbar-nav>li {
            float: left;
        }
        .navbar-nav>li>a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    
    @media only screen and (max-width: 420px) {
         .collapse {
            display: none;
         }
    
         .navbar-header {
            display: block;
         }
    }
    